<!-- component -->
<div class="w-full">
  <div class="font-sans">
    <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
      Patients
    </h1>
  </div>
  <div class="flex justify-end h-10 w-full space-x-2 items-center">
    <span>Add new Patient</span>
    <add-button (click)="addPatient()"></add-button>
  </div>
  <div>
    <app-patient-table [patients]="patients" (patientEvent)="handlePatientEvent($event)"></app-patient-table>
  </div>
  <div>
    <app-patient-form [selectedPatient]="selectedPatient" (patientFormEvent)="closeModal()"></app-patient-form>
  </div>
</div>
